body {
  height: 100%;
  color: white;
  font-family: Inter;
}

.App {
  text-align: center;
  background: hsla(165, 77%, 19%, 1);
  background: linear-gradient(180deg, hsla(165, 77%, 19%, 1) 0%, hsla(257, 31%, 25%, 1) 100%);
  background: -moz-linear-gradient(180deg, hsla(165, 77%, 19%, 1) 0%, hsla(257, 31%, 25%, 1) 100%);
  background: -webkit-linear-gradient(180deg, hsla(165, 77%, 19%, 1) 0%, hsla(257, 31%, 25%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0B5442", endColorstr="#372C53", GradientType=1 );
  min-height: 100vh;
}

/* GENERIC FORMAT */ 
.container {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
}
.topArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
}

.arrowArea {
  font-size: 30px;
}

.arrowLink {
  color: white;
  text-decoration: none;

}

.walletArea {
  border: 1px solid white; 
  border-radius: 10px;
  padding: 10px;
}

.header {
  font-size: 30px;
  font-weight: bold;
}

.subheader {
  font-size: 20px;
}

.button {
  background-color: #289F58;
  width: 250px;
  border-radius: 50px;
  padding: 10px;
  margin: 20px auto;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 20px;
}

/* HOME PAGE */

/* PROJECTS */

.inputGroup {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  justify-content: center;
  align-items: flex-start ;
}

.inputGroupRow {
  display: flex;
}

.smallInputGroup {
  width: 250px;
}

.inputField {
  font-size: 20px;
  background-color: none;
  padding: 10px;
  border-radius: 20px;
  border: 0.5px solid white; 
  background: none;
  color: lightgrey;
  width: 500px;
  margin: 5px auto;
}

.smallInputField {
  width: 230px;
}

.inputLabel {
  color: lightgrey;
  margin: 5px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.project {
  border: 1px solid;
  border-radius: 10px;
}

/* ADD BENEFITS */

/* CONGRATS */