@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  height: 100%;
  color: white;
  font-family: Inter;
}

.App {
  text-align: center;
  background: hsla(0, 0%, 13%, 1);
  background: linear-gradient(315deg, hsla(0, 0%, 13%, 1) 15%, hsla(332, 54%, 27%, 1) 44%, hsla(230, 64%, 57%, 1) 78%);
  background: -moz-linear-gradient(315deg, hsla(0, 0%, 13%, 1) 15%, hsla(332, 54%, 27%, 1) 44%, hsla(230, 64%, 57%, 1) 78%);
  background: -webkit-linear-gradient(315deg, hsla(0, 0%, 13%, 1) 15%, hsla(332, 54%, 27%, 1) 44%, hsla(230, 64%, 57%, 1) 78%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#222222", endColorstr="#691F41", GradientType=1 );
  min-height: 100vh;
}
.walletConnect {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* GENERIC FORMAT */ 

.highlight {
  background: white; 
  color: hsla(332, 54%, 27%, 1);
  border-radius: 10px;
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; */
}

.container {
  display: flex;
  flex-direction: column; 
  justify-content: flex-start;
}
.topArea {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
}

.arrowArea {
  font-size: 30px;
}

.arrowLink {
  color: white;
  text-decoration: none;
}

.walletArea {
  border: 1px solid white; 
  border-radius: 10px;
  padding: 10px;
}

.header {
  font-size: 50px;
  font-weight: bolder;
}

.subheader {
  font-size: 20px;
}

.button {
  box-shadow: 3px 3px 10px hsla(0, 0%, 13%, 1);
  background-color: hsla(230, 64%, 57%, 1);
  width: 250px;
  border-radius: 10px;
  padding: 15px 20px;
  margin: 20px auto;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

/* HOME PAGE */

/* PROJECTS */

.inputGroup {
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  justify-content: center;
  align-items: flex-start ;
}

.inputGroupRow {
  display: flex;
}

.smallInputGroup {
  /* width: 50%; */
}

.inputField {
  font-size: 20px;
  background: hsla(0, 0%, 13%, 0.6);
  padding: 10px;
  border-radius: 10px;
  border: 0.5px solid white; 
  color: white;
  width: 500px;
  margin: 5px auto;
}

.smallInputField {
  width: 230px;
}

.inputLabel {
  color: lightgrey;
  margin: 3px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.boxGrid {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1000px;
  margin: auto;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0px;
  border-radius: 10px;
  width: 400px;
  padding: 20px; 
  margin: 20px auto;
  background-color: hsl(0, 6%, 11%, .4);
}

.boxHeader {
  font-size: 20px;
  font-weight: bold;
}

.secondaryButton {
  box-shadow: 3px 3px 10px hsla(0, 0%, 13%, 1);
  background-color: white;
  opacity: 0.8;
  color: black;
  width: 150px;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 20px auto;
  cursor: pointer;
  border: none;
  font-size: 20px;;
  text-decoration: none;
}

.projectBox {
  background-color: hsl(0, 6%, 11%, .4);
  margin: 10px auto;
  border-radius: 10px;
  padding: 30px;
  width: 400px;
}

.projectBoxColumns {
  display: flex;
  justify-content: flex-start;
}

.projectDetailName {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.projectDetailGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px;
  text-align: left;
}

.projectDetailHeader {
  color: darkgrey;
  font-size: 12px;
}

.projectDetailText {
  font-size: 18px;
  margin: 3px 0px;
  cursor: pointer; 
}

.projectDetailText:hover {
  text-decoration: underline;
}

.projectDetails {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  text-align: left;
  margin: 10px;
}

.projectBenefitsList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  margin: 10px;
}

/* ADD BENEFITS */

/* CONGRATS */