@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  height: 100%;
  color: white;
  font-family: Inter;
}

.App {
  text-align: center;
  background: hsla(0, 0%, 13%, 1);
  background: linear-gradient(315deg, hsla(0, 0%, 13%, 1) 15%, hsla(332, 54%, 27%, 1) 44%, hsla(230, 64%, 57%, 1) 78%);
  background: -moz-linear-gradient(315deg, hsla(0, 0%, 13%, 1) 15%, hsla(332, 54%, 27%, 1) 44%, hsla(230, 64%, 57%, 1) 78%);
  background: -webkit-linear-gradient(315deg, hsla(0, 0%, 13%, 1) 15%, hsla(332, 54%, 27%, 1) 44%, hsla(230, 64%, 57%, 1) 78%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#222222", endColorstr="#691F41", GradientType=1 );
  min-height: 100vh;
}

.walletConnect {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* GENERIC FORMAT */ 
.highlight {
  background: white; 
  color: hsla(332, 54%, 27%, 1);
  border-radius: 10px;
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent; */
}


.top {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.header {
  font-size: 30px;
  font-weight: bolder;
}

.title {
  font-size: 50px;
  font-weight: bolder;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.amounts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 0px;
}

.bigAmount {
  font-size: 50px;
  font-weight: bold;
}

.subAmount {
  font-size: 20px;
}

.middle {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px 0px;
}

.button {
  box-shadow: 3px 3px 10px hsla(0, 0%, 13%, 1);
  background-color: hsla(230, 64%, 57%, 1);
  width: 250px;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

/* HOME */
.homeContainer {

}

.homeContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
}

/* NIFTY */
.niftyContainer {
  position: relative;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  background-color: white;
  margin: 10px;
}

.niftyImg {
  /* position: relative; */
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

.niftyLabel {
  position: absolute;
  background-color:hsl(0, 6%, 11%, 0.9);
  margin: 0px 5px;
  bottom: 5%;
  width: 90%;
  border-radius: 10px;
}

/* BENEFITS */
.benefitsContainer {
  
}

/* BENEFIT ITEM */
.benefitItem {
  background-color: hsl(0, 6%, 11%, .4);
  margin: 10px 20px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
}

.benefitImg {
  height: 70px;
  margin-right: 10px;
  border-radius: 50%;
  box-shadow: inset 0 0 5px white;
}

.benefitDetails {
  display: flex;
  flex-direction: column;
}

.benefitDetailsTop, .benefitDetailsBottom {
  display: flex;
  flex-direction: row;
}

.benefitDetailGroup {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px;
  text-align: left;
}

.benefitDetailHeader {
  color: darkgrey;
  font-size: 12px;
}

.benefitDetailItem {

}

.chosenOne {
  border: solid 2px white;
}

/* SCAN */
.scanContainer {

}

.qrContainer {
  margin: 10px;
  border-radius: 10px;
}

#html5qr-code-full-region {
  border-radius: 10px;
  background: hsl(0, 6%, 11%, .4);
  padding: 20px;
  border: 0px !important; 
  font-size: 16px;
}

#html5qr-code-full-region__scan_region img {
  color: white;
}

#html5qr-code-full-region__scan_region video {
  border-radius: 10px 10px 0px 0px;
}

#html5qr-code-full-region__dashboard_section_swaplink {
  color: white;
}

#html5qr-code-full-region__camera_selection {
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  width: 90%;
}

#html5qr-code-full-region__dashboard_section_csr button {
  box-shadow: 3px 3px 10px hsla(0, 0%, 13%, 1);
  background-color: hsla(230, 64%, 57%, 1);
  width: 250px;
  border-radius: 10px;
  padding: 10px;
  margin: 20px auto;
  cursor: pointer;
  border: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

#html5qr-code-full-region__filescan_input {
  font-size:16px;
}

#html5qr-code-full-region__scan_region img {
  display: none;
  visibility: hidden;
}

#html5qr-code-full-region__header_message {
  font-size: 15px;
  color: white;
}

/* PAY */
.payContainer {
  
}

.payDetailGroup {
  background-color: hsl(0, 6%, 11%, .4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px;
  text-align: left;
  border-radius: 10px;
  margin: 5px 20px;
}

.payDetailItem {
  font-weight: bold;
}

