body {
  height: 100%;
  color: white;
  font-family: Inter;
}

.App {
  text-align: center;
  background: hsla(165, 77%, 19%, 1);
  background: linear-gradient(180deg, hsla(165, 77%, 19%, 1) 0%, hsla(257, 31%, 25%, 1) 100%);
  background: -moz-linear-gradient(180deg, hsla(165, 77%, 19%, 1) 0%, hsla(257, 31%, 25%, 1) 100%);
  background: -webkit-linear-gradient(180deg, hsla(165, 77%, 19%, 1) 0%, hsla(257, 31%, 25%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0B5442", endColorstr="#372C53", GradientType=1 );
  min-height: 100vh;
}

/* GENERIC FORMAT */ 
.top {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 30px;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}

.header {
  font-weight: bold;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.amounts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px 0px;
}

.bigAmount {
  font-size: 50px;
  font-weight: bold;
}

.subAmount {
  font-size: 20px;
}

.middle {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 20px 0px;
}

.button {
  background-color: hsla(144, 59%, 39%, 1);
  border-radius: 30px;
  margin: 30px 20px;
  padding: 20px;
  font-weight: bold;
}

/* QR Code */
.qrImage {
  margin: 10px 30px;
}

.solanapay {
  width: 100px;
  margin: 10px auto;
}

/* Numpad */
.numberPad {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.numberRow {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsla(0,6%,11%,0.4);
  border-radius: 100px;
  width: 90px;
  height: 90px;
  font-size: 40px;
  font-weight: bold;
  margin: 10px;
  color: white;
  border: none;
}